@page "/"
@page "/tickets"
@inject HttpClient Http

<h1>Your Tickets</h1>

<div id="ticket-list">
    @if (Tickets == null)
    {
        <h2>Loading your tickets...</h2>
    }
    else
    {
        <div class="row">
            <ul>
                @foreach (var ticket in Tickets)
                {
                    <li>@ticket.Passenger</li>
                }
            </ul>
        </div>
    }
</div>

@code {
    private TimeRelation Time { get; set; }
    private IEnumerable<Ticket> AllTickets { get; set; }
    private IEnumerable<Ticket> Tickets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllTickets = await Http.GetJsonAsync<IEnumerable<Ticket>>("localhost:5000/api/tickets");
        RefreshTickets();
    }

    private void RefreshTickets()
    {
        if (AllTickets != null)
        {
            Tickets = AllTickets.Where(t =>
                (Time == TimeRelation.Past && t.Date < DateTime.Today)
                || (Time != TimeRelation.Past && t.Date >= DateTime.Today));
        }
    }
}
