html, body {
    font-family: 'Teko', sans-serif;
}

body {
    background-image: url(../images/space-background.jpg)
}

h1 {
    color: whitesmoke;
    margin-left: 20px;
    margin-top: 20px;
}

h2 {
    color: whitesmoke;
}

nav.navbar {
    color: whitesmoke;
}

nav a.active {
    color: lightcoral!important;
}

div.card {
    margin: 10px;
}

span.highlight {
    color: darkred;
}

div#ticket-list {
    margin: 20px;
}

div#ticket-list .card-deck {
    margin-top: 10px;
}

div#ticket-list .card {
    max-width: 200px;
}

div.flightplan-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 135px);
}

svg.flightplan-svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

svg.flightplan-svg text {
    fill: white;
    font-size: larger;
}

svg.flightplan-svg .flightplan {
    transform: translate(20px, 20px)
}

svg.flightplan-svg circle.pulse-circle {
    fill: white;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 0.8s linear infinite;
    transform-box: fill-box;
}

svg.flightplan-svg circle.inactive {
    visibility: collapse;
}

svg.flightplan-svg path {
    stroke: rgba(180, 180, 180, 0.50);
    stroke-width: 2px;
    fill: none;
}

svg.flightplan-svg path.active {
    stroke-dasharray: 5 5;
    stroke-width: 4px;
    stroke: yellow;
    animation: ant-me 0.5s linear infinite;
}

@keyframes ant-me {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 10;
    }
}

@keyframes pulse-me {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 0.25;
    }

    100% {
        transform: scale(5);
        opacity: 0;
    }
}

div.ticket-details {
    flex-direction: column;
    margin-left: 20px;
}

div.ticket-details div.details {
    margin-top: 35px;
    color: white;
    margin-left: 20px;
    flex-direction: row;
}

div.ticket-details div.details h3 {
    margin: 0 0 0 0;
}

div.ticket-details div.base h2 {
    position: absolute;
    top: 200px;
    left: 20px;
    width: 100%;
}

div.ticket-details div.base {
    position: relative;
}

div.ticket-details div.base img {
    max-height: 250px;
    box-shadow: 10px 10px 6px -6px lightgrey;
}

div.ticket-details svg.arrow {
    fill: white;
    transform: scale(5);
    z-index: 99;
}

div.ticket-details div.route {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.book {
    color: white;
}

div.book form {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 400px;
}

div.book .validation-errors {
    list-style-type: none;
    color: lightcoral;
    font-size: larger;
    padding-left: 0;
}

