@using StarshipTraveler.Model

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary @((Time == TimeRelation.Past) ? "bg-info" : "")"
            onclick="@SwitchToPast">Past Travels</button>
    <button type="button" class="btn btn-secondary @((Time == TimeRelation.Upcoming) ? "bg-info" : "")"
            onclick="@SwitchToUpcoming">Upcoming Travels</button>
</div>

@code {
    [Parameter]
    public TimeRelation Time { get; set; }

    [Parameter]
    public Action<TimeRelation> TimeChanged { get; set; }

    void SwitchToPast()
    {
        Time = TimeRelation.Past;
        TimeChanged?.Invoke(Time);
    }

    void SwitchToUpcoming()
    {
        Time = TimeRelation.Upcoming;
        TimeChanged?.Invoke(Time);
    }
}
