@using StarshipTraveler.Model
@layout Shared.MainLayout

<div class="base">
    <img src="@Base?.Image" />
    <h2>@Base?.Name</h2>
</div>

@code {
    [Parameter]
    public Base? Base { get; set; }
}
