<a href="@TicketLink">
    <img class="card-img-top" src="_content/StarshipTraveler.Components/images/qrcode.png" alt="QR Code">
</a>

@code {
    [Parameter]
    public string TicketLink { get; set; }
}
