@page "/"
@page "/tickets"
@inject IStarshipApi StarshipApi
@layout Shared.MainLayout

<h1>Your Tickets</h1>

<div id="ticket-list">
    @if (Tickets == null)
    {
        <h2>Loading your tickets...</h2>
    }
    else
    {
        <TimeSelector @bind-Time="@Time" />
        <div class="row">
            @foreach (var ticket in Tickets)
            {
                <TicketCard Ticket="@ticket" />
            }
        </div>
    }
</div>

@code {
    private TimeRelation time = TimeRelation.Past;
    private TimeRelation Time
    {
        get => time;
        set
        {
            time = value;
            RefreshTickets();
            StateHasChanged();
        }
    }

    private IEnumerable<Ticket> AllTickets { get; set; }
    private IEnumerable<Ticket> Tickets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllTickets = await StarshipApi.GetTicketsAsync();
        RefreshTickets();
    }

    private void RefreshTickets()
    {
        if (AllTickets != null)
        {
            Tickets = AllTickets.Where(t =>
                (Time == TimeRelation.Past && t.Date < DateTime.Today)
                || (Time != TimeRelation.Past && t.Date >= DateTime.Today));
        }
    }
}
