@page "/"
@page "/tickets"
@inject HttpClient Http

<h1>Your Tickets</h1>

<div id="ticket-list">
    @if (Tickets == null)
    {
        <h2>Loading your tickets...</h2>
    }
    else
    {
        <div class="row">
            @foreach (var ticket in Tickets)
            {
                <TicketCard Ticket="@ticket" />
            }
        </div>
    }
</div>

@code {
    private TimeRelation Time { get; set; }
    private IEnumerable<Ticket> AllTickets { get; set; }
    private IEnumerable<Ticket> Tickets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("http://localhost:5000/api/tickets");
        var ticketsJson = await response.Content.ReadAsStringAsync();
        AllTickets = JsonSerializer.Deserialize<List<Ticket>>(ticketsJson, new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true,
        });
        RefreshTickets();
    }

    private void RefreshTickets()
    {
        if (AllTickets != null)
        {
            Tickets = AllTickets.Where(t =>
                (Time == TimeRelation.Past && t.Date < DateTime.Today)
                || (Time != TimeRelation.Past && t.Date >= DateTime.Today));
        }
    }
}
